on early-init
    # start module load in the background
    start vendor.dlkm_loader

service vendor.dlkm_loader /vendor/bin/dlkm_loader
    class main
    user root
    group root system
    disabled
    oneshot
